main {
    width: 1000px;
    height: 80vh;
    display: flex;
    position: relative;
    overflow: hidden;

    border: 1px solid black;

    > aside {
        height: 100%;
        width: 25%;
    
        border-right: 1px solid black
    }    

    > section {
        height: 100%;
        width: 75%;
    }
}